<header class="header-area header-style-5">
  
  
  



  <div class="header-bottom sticky-bar sticky-white-bg">
      <div class="container">
          <div class="header-wrap header-space-between position-relative">
              <div class="font-weight-bold">
                  <a href="/"><h4>FashioNXT</h4></a>
                  



                  







              </div>
              <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                  <nav>
                      <ul>
                          <li><a class="active" href="/">Home </a>

                <!-----------#########----SHOP-----#######------------->

                          </li>
                          <li><a href="/shop">Shop </a>      
                          </li>

                         
                          <!-- <li><a href="blog-category-grid.html">Blog</i></a></li> -->
                              
                          
                          <!-- <li><a href="#">Pages </a></li> -->
                              
                          
                          <!-- <li>
                              <a href="page-contact.html">Contact</a>
                          </li> -->
                      </ul>
                  </nav>
              </div>




              <div class="col-xl-3 col-lg-4">

                <div class="header-info header-info-right">
                  

                   



             
            <% if (locals.userSession) { %>
          
              <a class="mr-20 h5" href="/get-profile"><%=userSession.username %><i class="fa-solid fa-user fa-2x"></i></a> 
     
               <% } else { %>
               <a class="mr-20" href="/login">LogIn</a>
               <%}%>



                </div>
            </div>





              <div class="header-action-right">
                  <!-- <div class="search-style-2">
                      <form action="#">
                          
                          <input type="text" placeholder="Search for items…">
                      </form>
                  </div> -->
                  <div class="header-action-2">


                      <div class="header-action-icon-2">
                          <a href="/wish-list">
                              <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">

                              <!-- SHOP WISHLIST COUNT -->
                              
                              <!-- <span class="pro-count blue"></span> -->
                          <!-- </a>
                      </div> -->


<!--                        
                        <a href="/wish-list">
                          <img class="svgInject" src="/assets/imgs/theme/icons/icon-heart.svg">  </a> -->
                       



                      <div class="header-action-icon-2">
                          <a class="mini-cart-icon" href="/cart">
                              <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                              <!-- <span class="pro-count blue">2</span> -->
                          </a>

                          <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                              <ul>
                                  <li>
                                      <div class="shopping-cart-img">
                                          <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                      </div>
                                      <div class="shopping-cart-title">
                                          <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                          <h3><span>1 × </span>$800.00</h3>
                                      </div>
                                      <div class="shopping-cart-delete">
                                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="shopping-cart-img">
                                          <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-1.jpg"></a>
                                      </div>
                                      <div class="shopping-cart-title">
                                          <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                          <h3><span>1 × </span>$3200.00</h3>
                                      </div>
                                      <div class="shopping-cart-delete">
                                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                                      </div>
                                  </li>
                              </ul>
                              <div class="shopping-cart-footer">
                                  <div class="shopping-cart-total">
                                      <h4>Total <span>$4000.00</span></h4>
                                  </div>
                                  <div class="shopping-cart-button">
                                      <a href="shop-cart.html">View cart</a>
                                      <a href="shop-checkout.html">Checkout</a>
                                  </div>
                              </div>
                          </div> -->
                      </div>
                      <div class="header-action-icon d-block d-lg-none">
                          <div class="burger-icon">
                              <span class="burger-icon-top"></span>
                              <span class="burger-icon-mid"></span>
                              <span class="burger-icon-bottom"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
